################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BetterHScenes/v16
/AI_BetterHScenes/obj/Debug
/HS2_BetterHScenes/obj/Debug
/packages
/AI_BetterHScenes/obj/Release
/HS2_BetterHScenes/obj/Release
/_bin/AI/BepInEx/plugins/2155X
/_bin/HS2/BepInEx/plugins/2155X
